.card{
    height: 140px;
    width: 140px;

    margin-top: 30px;
    margin-right: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-image: url('../image/card_background.jpg');
}

.img_of_card{
    height: 110px;

    display:flex;
    justify-content: center;
}

.img_of_card img{
    width: 110px;
}

.text_of_card{ 
    text-align: center;
    text-decoration: none;
    background-color: rgba(0,0,0,0.4);
}

.text_of_card .head_card{
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
    font-size: 14px;
    
    color: white;
}

.text_of_card .head_card:hover{
    font-size: 101%;
}

.card_info{
    width: 250px;
    height: 310px; 
}

.card_info .head_of_card{
    padding: 5px 0;
    
    font-size: 20px; 
    font-weight: bold;
    
    display: flex;
    justify-content: space-around;

    background-color: #aa137a;
    color: white;
}

.card_info .skils{
    padding: 5px;
}

.card_info .skils div{
    display: flex;
    justify-content: space-between;
}

.img_card{
    display: flex;
    justify-content: center;
}

.img_card img{
    width: 140px;
}

.skils .name{
    width: 200px;
    margin-bottom: 2px;

    font-style: italic;
    font-weight: bold;

    background-color: #aa137a;
}

.skils .indicator{ 
    width: 30px;
    margin-bottom: 2px;

    font-weight: bold;

    background-color: #0beaf9;
}