.background_card{
    background-color: #f2e9e9;
    display: flex;
    justify-content: center;
    
    align-items: center;
    min-height: 90vh;
}

.info_card{
    background-color: rgb(255,255,255);
    width: 50vw;
    margin-top: 50px;
    padding-bottom: 25px;
}

.info_card .head{
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;

    font-size: 24px;
    font-weight: bold;
    font-style: italic;

    background-color: #d90707;
    color: rgb(255,255,255);
}

.info_card .types{
    display: flex;
    justify-content: center;
}

.info_card .types .type{
    margin: 10px;

    font-weight: bold;
    font-style: italic;

    border-radius: 8px;
    padding: 5px 10px;

    color: rgb(255,255,255);
}

.info_card .types .one{
    background-color: #aa137a;
}

.info_card .types .two{
    background-color: #0beaf9
}

.info_card .main_info{
    display: flex;
    justify-content: space-around;

    margin: 0px;
}

.info_card .main_info .image{   
    display: flex;
    align-items: center; 
}

.info_card .main_info .image img{
    width: 12vw;
}

.info_card .main_info .skils{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20vw;

    font-size: 16px;
}

.info_card .main_info .skils div{
    display: flex;
    justify-content: space-between;
}

.info_card .main_info .count{
    background-color: #d4d4d4;
    width: 75%;
    
    text-align: right;
    margin-bottom: 3px;
}


.info_card .profile{
    margin: 0 1%; 
}

.info_card h4{
    height: 25px;    

    font-style: italic;
    text-align: center;

    background-color: #d90707;
    color: rgb(255,255,255);
}

.info_card .profile .info_profile{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    font-size: 16px;
}

.info_card .profile .info_profile div{
    margin-bottom: 3px;

    width: 45%;

    display: flex;
    justify-content: space-between;
}

.info_card .profile .info_profile .prop{
    font-weight:  bold;
    width: 40%;
}

.info_card .profile .info_profile .c_profile{
    width: 50%;
}

@media screen and (max-width: 480px)
{
    .info_card{
        margin-top: 70px;
        margin-bottom: 10px;
    }
    .info_card .main_info{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .info_card .main_info .image img{
        min-width: 50vw;
    }
 
    .info_card .main_info .skils{
        min-width: 90%;
     }

    .info_card .profile .info_profile{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
        font-size: 14px;
    }

    .info_card .profile .info_profile div{
        width: 90%;
    }
}

@media screen and (max-width: 1080px)
{
    .info_card{
        width: 90vw;
    }

    .info_card .main_info .image img{
        width: 20vw; 
    }

    .info_card .main_info .skils{
        width: 40vw;
    }
}

