.searching_form{
    width: 92vw;
    margin: 0 auto;
    padding-top: 35px;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.searching_form #search{
  width: 89vw;
}