@import url('https://fonts.googleapis.com/css?family=Merienda&display=swap');

.filter{
    width: 30vw;
    z-index: 200;
    padding-bottom: 5px;
    
    background: #ffffff;
}

.filter .header{
    height: 65px;
    padding: 5px 0px;
    
    text-align: center;

    color: #ffffff;
    background: #000000;
}

.filter .header h1, .filter .header h4{
    margin: 0px;
} 

.filter .check{
    padding:  auto;
    margin: 10px 0;
}

.filter .check .checkMin{
    width: 90%;
    margin: 0 auto;
}

.filter .check .checkMin div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.filter .check .types{
    text-align: center;
}

.filter .check .types h3{
    margin-bottom: 5px;
}

.filter .check .types .checkBoxes{
    display: flex;
    flex-wrap: wrap;

    font-size: 16px;
}

.filter .check .types .checkBoxes div{
    width: 20%;
    margin-left: 10px;

    display: flex;
    justify-content: flex-start;
}

.filter .check .clear{
    margin-top: 10px;
    cursor: pointer;
    font-family: 'Merienda';
}

.filter .check .clear:hover{
    color: rgb(255,0,0);
}
@media screen and (max-width: 320px)
{
    .filter{
        min-width: 90vw;
    }
}

@media screen and (max-width: 360px)
{
    .filter .check .types .checkBoxes div{
        margin-left: 20px;
    }
}
@media screen and (max-width: 720px)
{
    .filter{
        width: 80vw;
    }
}

@media screen and (max-width: 780px)
{
    .filter{
        min-width: 50vw;
    }
}

@media screen and (max-width: 1024px)
{
    .filter{
        min-width: 40vw;
    }
}