.pagesList{
    width: 40vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px auto;
}

.pagesList .button{
    width: 60px;
}

.pagesList .section, .pagesList .activeSection{
    width: 25px;
}

.pagesList .button, .pagesList .section, .pagesList .button, .pagesList .activeSection{
    background: #3f51b5;
    text-align: center;
    margin: 3px;
    cursor: pointer;
    color: #ffffff;

    font-family: 'Merienda';

    border-radius: 5px;
}

.pagesList .activeSection{
    color: #07e616;
}

.pagesList .button:hover, .pagesList .section:hover, .pagesList .activeSection:hover{
    color: rgb(255,0,0);
}

@media screen and (max-width: 780px)
{
    .pagesList{
        width: 80vw;
    }
}